.row {
    margin: 0 !important;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  @media (max-width:768px){
    .text-center{
      text-align: center !important;
    }
    .add-cart-btn{
      margin-top: 10px;
    }
  }