.product {
    margin-bottom: 20px;
    cursor: pointer;
}
.main_productlist {
    width: 100%;
    margin: 0;
    padding: 0;
}

.qty_change {
    width: 60px;
    position: relative;
    top: 2px;
    height: 30px;
    text-align: center;
}